# Firebase — CustoMix3D (customix3d-123)
VITE_FIREBASE_API_KEY=AIzaSyChbLoLojYdk7ypdEcCDUkL2yyTHPsVBCM
VITE_FIREBASE_AUTH_DOMAIN=customix3d-123.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=customix3d-123
VITE_FIREBASE_STORAGE_BUCKET=customix3d-123.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=369969895183
VITE_FIREBASE_APP_ID=1:369969895183:web:3c7e147a4027352f06107a

# Payment gateway (later)
VITE_PAYMENT_GATEWAY_KEY=
VITE_PAYMENT_GATEWAY_SECRET=
